.simple-page {
    display: grid;
    place-items: center;
    background-color: rgba(6, 147, 109, 0.521);
    height: 100% !important;

    .login-box {
        .form {
            margin-top: 25px;

            .row {
                display: flex;
                justify-content: center;
            }
        }
    }
}