<div class="simple-page">
  <div class="login-box">
    <div class="title">
      <span>HealthCare</span>
    </div>

    <div class="sub-title">
      <h2>Recuperação de senha</h2>
    </div>

    <form [formGroup]="resetPasswordForm" class="form">
      <div class="row">
        <mat-form-field style="width: 85%">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            maxlength="50"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </form>

    <div class="button">
      @if (showLoading()) {
      <mat-spinner [diameter]="40" color="primary"></mat-spinner>
      } @else {
      <button
        mat-raised-button
        color="primary"
        style="padding: 23px 70px"
        (click)="resetPassword()"
        [disabled]="resetPasswordForm.invalid"
      >
        Recuperar
      </button>
      }
    </div>
  </div>
</div>
