<ngx-datatable
  [rows]="unitsList()"
  class="material striped custom-datatable"
  [headerHeight]="48"
  [rowHeight]="52"
  [footerHeight]="50"
  [columnMode]="'force'"
  [limit]="6"
  [reorderable]="false"
  [selectAllRowsOnPage]="false"
  [messages]="{
    totalMessage: 'registros encontrados.'
  }"
  (activate)="onClickRow.emit($event)"
>
  <ngx-datatable-column
    name="Nome"
    prop="ds_nome"
    [width]="150"
  ></ngx-datatable-column>

  <ngx-datatable-column name="CNPJ" prop="cnpj" [width]="140">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.cnpj | cnpjMask }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Cidade"
    prop="cidade"
    [width]="120"
  ></ngx-datatable-column>

  <ngx-datatable-column
    name="Estado"
    prop="estado"
    [width]="50"
  ></ngx-datatable-column>

  <ngx-datatable-column
    name="E-mail"
    prop="email"
    [width]="200"
  ></ngx-datatable-column>

  <ngx-datatable-column
    name="Tipo"
    prop="tipo"
    [width]="150"
  ></ngx-datatable-column>
</ngx-datatable>
