<div class="simple-page">
  <div class="login-box">
    <div class="title">
      <span>HealthCare</span>
    </div>

    <div class="sub-title">
      <h2>Defina sua nova senha</h2>
    </div>

    <form [formGroup]="changePasswordForm" class="form">
      <div class="row row1">
        <mat-form-field style="width: 80%">
          <mat-label>Nova senha</mat-label>
          <input type="password" matInput formControlName="newPassword" />
        </mat-form-field>

        <span
          class="material-symbols-outlined"
          matTooltip="A senha deve conter pelo menos 8 dígitos, 1 número e 1 letra maiúscula"
          matTooltipShowDelay="200"
        >
          info
        </span>
      </div>

      <div class="row">
        <mat-form-field style="width: 85%">
          <mat-label>Digite a senha novamente</mat-label>
          <input
            type="password"
            matInput
            formControlName="newPasswordConfirm"
          />
        </mat-form-field>
      </div>
    </form>

    <div class="button">
      @if (showLoading()) {
      <mat-spinner [diameter]="30" color="accent"></mat-spinner>
      } @else {
      <button
        mat-raised-button
        color="primary"
        (click)="changePassword()"
        [disabled]="changePasswordForm.invalid"
      >
        <span>Atualizar senha</span>
      </button>
      }
    </div>
  </div>
</div>
