<div class="user-form">
  <form class="form" [formGroup]="userForm">
    <div class="row" style="gap: 11%">
      <mat-form-field style="width: 60%">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          autofocus
          autocomplete="off"
        />

        @if (userForm.get('email')!.dirty && userForm.get('email')!.invalid) {
        <mat-error>É necessário ser um email válido</mat-error>
        }
      </mat-form-field>

      <mat-form-field style="width: 27%">
        <mat-label>Situação</mat-label>
        <mat-select formControlName="situacao">
          <mat-option value="A">Ativo</mat-option>
          <mat-option value="I">Inativo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row" style="gap: 8%">
      <mat-form-field style="width: 55%">
        <mat-label>Senha</mat-label>
        <input
          type="password"
          matInput
          formControlName="senha"
          autocomplete="new-password"
          maxlength="70"
          autocomplete="never"
        />

        <span
          class="material-symbols-outlined"
          matSuffix
          matTooltip="Se deixado em branco a senha permanecerá igual a atual"
          matTooltipPosition="below"
          matTooltipShowDelay="250"
        >
          info
        </span>

        <mat-error>
          A senha deve conter no mínimo 8 caracteres, uma letra maiúscula e um
          número.
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 30%">
        <mat-label>Acesso</mat-label>
        <mat-select formControlName="acesso">
          <mat-option value="Adm">Adm</mat-option>
          <mat-option value="Cadastro">Cadastro</mat-option>
          <mat-option value="Consulta">Consulta</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row" style="gap: 5%">
      <mat-form-field style="width: 33%">
        <mat-label>Nome</mat-label>
        <input
          type="text"
          matInput
          formControlName="nome"
          #nomeInput
          maxlength="15"
        />
        <mat-hint align="end">
          {{ nomeInput.value.length }}/{{ nomeInput.maxLength }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field style="width: 62%">
        <mat-label>Sobrenome</mat-label>
        <input
          type="text"
          matInput
          formControlName="sobrenome"
          #sobrenomeInput
          maxlength="40"
        />
        <mat-hint align="end">
          {{ sobrenomeInput.value.length }}/{{ sobrenomeInput.maxLength }}
        </mat-hint>
      </mat-form-field>
    </div>
  </form>

  <div class="actions">
    <div class="top">
      <button mat-icon-button routerLink="/usuario" [ariaHidden]="false">
        <span class="material-symbols-outlined">arrow_back</span>
      </button>

      <div class="title">
        @if (userId) {
        <h2>E</h2>
        <h2>D</h2>
        <h2>I</h2>
        <h2>T</h2>
        <h2>A</h2>
        <h2>R</h2>
        } @else {
        <h2>N</h2>
        <h2>O</h2>
        <h2>V</h2>
        <h2>O</h2>
        }
        <br />
        <h2>U</h2>
        <h2>S</h2>
        <h2>U</h2>
        <h2>Á</h2>
        <h2>R</h2>
        <h2>I</h2>
        <h2>O</h2>
      </div>
    </div>

    <div class="bottom">
      <span (click)="saveUser()" class="material-symbols-outlined button-bottom"
        >save</span
      >

      @if (userId) {
      <span
        (click)="openConfirmationDialog()"
        class="material-symbols-outlined button-bottom"
        style="background-color: #c21f40; color: white"
      >
        delete
      </span>
      }
    </div>
  </div>
</div>
