<div class="header-nav">
  <div class="header">
    <article class="left-header">
      <span>HealthCare</span>
    </article>

    <article class="right-header">
      <div class="developer-details">
        <span class="material-symbols-outlined" (click)="openBottomSheet()">
          info
        </span>
      </div>

      <div class="info">
        <img
          ngSrc="./assets/userImage.jpeg"
          width="47"
          height="47"
          alt="user profile image"
        />
        <span style="font-size: 0.55em">
          {{ user.nome }}
        </span>
      </div>

      <div class="logout">
        <span class="material-symbols-outlined" (click)="logout()">
          logout
        </span>
      </div>
    </article>
  </div>

  <div class="nav">
    <span
      class="material-symbols-outlined"
      style="margin-bottom: 27px"
      routerLink="/"
      matTooltip="Página inicial"
      matTooltipPosition="below"
      matTooltipShowDelay="700"
    >
      home
    </span>

    <span
      routerLink="/paciente"
      class="material-symbols-outlined"
      matTooltip="Cadastro de pacientes"
      matTooltipPosition="below"
      matTooltipShowDelay="700"
    >
      personal_injury
    </span>

    <span
      routerLink="/unidade"
      class="material-symbols-outlined"
      matTooltip="Cadastro de unidades"
      matTooltipPosition="below"
      matTooltipShowDelay="700"
    >
      apartment
    </span>

    <span
      routerLink="/atendimento"
      class="material-symbols-outlined"
      matTooltip="Cadastro de atendimentos"
      matTooltipPosition="below"
      matTooltipShowDelay="700"
    >
      demography
    </span>

    @if (user.acesso === 'Adm') {
    <div class="adm-section">
      <span
        routerLink="/usuario"
        class="material-symbols-outlined"
        matTooltip="Cadastro de usuários"
        matTooltipPosition="below"
        matTooltipShowDelay="700"
      >
        manage_accounts
      </span>
    </div>
    }
  </div>
</div>
