<div class="users-page">
  <div class="left-box">
    <h2>Cadastro de usuários</h2>

    <form [formGroup]="filterForm" class="filters">
      <div>
        <mat-form-field style="width: 80%">
          <mat-label>Filtrar por usuário</mat-label>
          <input
            formControlName="email"
            matInput
            autofocus
            (ngModelChange)="filterList()"
          />
        </mat-form-field>
      </div>

      <div style="display: flex; gap: 20px">
        <mat-form-field style="width: 32%">
          <mat-label>Situação</mat-label>
          <mat-select formControlName="situacao" (ngModelChange)="filterList()">
            <mat-option value="A">Ativo</mat-option>
            <mat-option value="I">Inativo</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 32%">
          <mat-label>Acesso</mat-label>
          <mat-select formControlName="acesso" (ngModelChange)="filterList()">
            <mat-option value="">Todos</mat-option>
            <mat-option value="Adm">Adm</mat-option>
            <mat-option value="Cadastro">Cadastro</mat-option>
            <mat-option value="Consulta">Consulta</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <div class="buttons">
      <button
        mat-flat-button
        routerLink="/usuario/novo"
        style="width: 35%"
        color="primary"
      >
        Adicionar
      </button>
    </div>
  </div>

  <div class="right-box">
    <app-users-list
      [usersList]="filteredUsers()"
      (onClickRow)="editUser($event)"
    ></app-users-list>
  </div>
</div>
